* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divBGImg {
    background: url("spacejoy-WQ35C1ZqCPk-unsplash.jpg");
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}