* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divBGImg {
    background: url("spacejoy-WQ35C1ZqCPk-unsplash.jpg");
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    place-items: center;
}

.card {
    background-color: whitesmoke;
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.modal-btn {
    padding: 5px 5px;
    border: none;
    background-color: #49A6EA;
    color: white;
    border-radius: 5px;
    margin: 10px auto;

}

.modal-btn:hover {
    border: 1px solid #49A6EA;
    color: black;
    background: transparent;
    cursor: pointer;
}